@use '../utilities';
@use 'sass:map';

$button-variants: utilities.append-list(utilities.$color-variants, $prefix: '.button--');
$button-outline-width: 0.3rem;

@include utilities.light-theme {
  $default-color: map.get(utilities.$light-colors, 'default');

  --color-button-hover: #{utilities.tint($default-color, 20%)};
  --color-button-focus: #{utilities.tint($default-color, 20%)};
  --color-button-active: #{utilities.tint($default-color, 28%)};
  --color-button-text: #{map.get(utilities.$light-colors, 'text')};

  @each $variant in utilities.$color-variants {
    $color: map.get(utilities.$light-colors, $variant, 'base');

    --color-button-#{$variant}-hover: #{utilities.shade($color, 12%)};
    --color-button-#{$variant}-focus: #{utilities.shade($color, 12%)};
    --color-button-#{$variant}-active: #{utilities.shade($color, 20%)};
  }
}

@include utilities.dark-theme {
  $default-color: map.get(utilities.$dark-colors, 'default');

  --color-button-hover: #{utilities.tint($default-color, 20%)};
  --color-button-focus: #{utilities.tint($default-color, 20%)};
  --color-button-active: #{utilities.tint($default-color, 28%)};
  --color-button-text: #{map.get(utilities.$dark-colors, 'invert-text')};

  @each $variant in utilities.$color-variants {
    $color: map.get(utilities.$dark-colors, $variant, 'base');

    --color-button-#{$variant}-hover: #{utilities.tint($color, 12%)};
    --color-button-#{$variant}-focus: #{utilities.tint($color, 12%)};
    --color-button-#{$variant}-active: #{utilities.tint($color, 20%)};
  }
}

.button {
  @extend %control;
  @include utilities.unselectable;

  background-color: utilities.get-color('default');
  border-color: transparent;
  color: utilities.get-color('button-text');
  cursor: pointer;
  font-weight: normal;
  justify-content: center;

  &:hover {
    background: utilities.get-color('button-hover');
  }

  &:focus {
    @include utilities.outline($width: $button-outline-width);

    background-color: utilities.get-color('button-focus');
  }

  &:active {
    @include utilities.no-outline;

    background-color: utilities.get-color('button-active');
  }

  &:disabled {
    @include utilities.disabled;

    background-color: utilities.get-color('default');
  }

  &--small {
    @include utilities.control--small;
  }

  @each $variant in utilities.$color-variants {
    &--#{$variant} {
      background: utilities.get-color($variant, 'base');
      color: utilities.get-color($variant, 'text');

      &:hover {
        background: utilities.get-color('button', $variant, 'hover');
      }

      &:focus {
        @include utilities.outline(
          $color: utilities.get-color($variant, 'outline'),
          $width: $button-outline-width
        );

        background: utilities.get-color('button', $variant, 'focus');
      }

      &:active {
        @include utilities.no-outline;

        background: utilities.get-color('button', $variant, 'active');
      }

      &:disabled {
        background: utilities.get-color($variant, 'base');
      }
    }
  }

  &__spinner {
    stroke: utilities.get-color('button-text');

    @each $variant in utilities.$color-variants {
      .button--#{$variant} & {
        stroke: utilities.get-color($variant, 'text');
      }
    }
  }
}
