@use 'sass:map';
@use '../utilities';

@include utilities.light-theme {
  $default-color: map.get(utilities.$light-colors, 'default');

  --color-input-base: #{$default-color};
  --color-input-hover: #{utilities.shade($default-color, 20%)};
  --color-input-focus: #{map.get(utilities.$light-colors, 'focus')};
  --color-input-placeholder: #{rgba(map.get(utilities.$light-colors, 'text'), 0.4)};

  @each $variant in utilities.$color-variants {
    $color: map.get(utilities.$light-variant-colors, $variant, 'base');

    --color-input-#{$variant}-base: #{utilities.tint($color, 20%)};
    --color-input-#{$variant}-hover: #{utilities.tint($color, 0%)};
    --color-input-#{$variant}-focus: #{utilities.shade($color, 20%)};
  }
}

.input {
  @extend %control;

  background-color: utilities.get-color('background');
  border-color: utilities.get-color('input-base');

  &::placeholder {
    color: utilities.get-color('input-placeholder');
  }

  &:hover {
    border-color: utilities.get-color('input-hover');
  }

  &:focus {
    @include utilities.outline;

    border-color: utilities.get-color('input-focus');
  }

  &:disabled {
    @include utilities.disabled;

    border-color: utilities.get-color('input-base');
  }

  &--small {
    @include utilities.control--small;
  }

  @each $variant in utilities.$color-variants {
    &--#{$variant} {
      border-color: utilities.get-color('input', $variant, 'base');

      &:hover {
        border-color: utilities.get-color('input', $variant, 'hover');
      }

      &:focus {
        @include utilities.outline(utilities.get-color($variant, 'outline'));

        border-color: utilities.get-color('input', $variant, 'focus');
      }

      &:disabled {
        border-color: utilities.get-color('input', $variant, 'base');
      }
    }
  }
}
