@use '../utilities';
@use 'sass:map';

$notification-horizontal-margin: 12px;

@include utilities.light-theme {
  --color-notification: #{map.get(utilities.$light-colors, 'background')};
}

@include utilities.dark-theme {
  --color-notification: #{map.get(utilities.$dark-colors, 'background-secondary')};
}

.notification {
  @extend %control;

  background-color: utilities.get-color('notification');
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  max-width: calc(100vw - #{2 * $notification-horizontal-margin});
  min-width: 30rem;
  pointer-events: auto;
  z-index: utilities.$z-index-notification;

  &__close-button {
    margin-left: auto;
  }
}

.notification-manager {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  position: fixed;
  z-index: utilities.$z-index-notification;

  &--top {
    left: env(safe-area-inset-left, 0);
    right: env(safe-area-inset-right, 0);
    top: env(safe-area-inset-top, 0);
  }

  &--top-left {
    left: env(safe-area-inset-left, 0);
    top: env(safe-area-inset-top, 0);
  }

  &--top-right {
    right: env(safe-area-inset-right, 0);
    top: env(safe-area-inset-top, 0);
  }

  &--bottom {
    bottom: env(safe-area-inset-top, 0);
    left: env(safe-area-inset-left, 0);
    right: env(safe-area-inset-right, 0);
  }

  &--bottom-left {
    bottom: env(safe-area-inset-top, 0);
    left: env(safe-area-inset-left, 0);
  }

  &--bottom-right {
    bottom: env(safe-area-inset-top, 0);
    right: env(safe-area-inset-right, 0);
  }
}

.notification-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: utilities.$spacing-xs;
}
