@use 'sass:map';
@use '../utilities';

@include utilities.light-theme {
  --color-spinner: #{map.get(utilities.$base-colors, 'alabaster')};
}

.spinner {
  height: 100%;
  padding: utilities.$spacing-xxs;
  stroke: utilities.get-color('spinner');
  width: 100%;

  @each $variant in utilities.$color-variants {
    &--#{$variant} {
      stroke: utilities.get-color($variant, 'base');
    }
  }
}
