@use 'sass:map';
@use '../utilities';

.spinner {
  height: 100%;
  padding: utilities.$spacing-xxs;
  stroke: utilities.get-color('text');
  width: 100%;

  &--inverted {
    stroke: utilities.get-color('invert-text');
  }

  @each $variant in utilities.$color-variants {
    &--#{$variant} {
      stroke: utilities.get-color($variant, 'base');
    }
  }
}
