@use '../utilities';

$switch-outline-width: 0.3rem;
$switch-height: utilities.$control-height;
$switch-width: 2 * $switch-height;
$switch-padding: 3px;
$switch-thumb-size: calc(#{$switch-height} - #{2 * $switch-padding});
$switch-thumb-shift: $switch-padding - 1px;

.switch {
  height: $switch-height;
  width: $switch-width;

  &__input {
    @include utilities.visually-hidden;
  }

  &__track {
    @extend %control;

    background: red;
    border-radius: 9999px;
    height: 100%;
    padding: $switch-padding;
    position: relative;
    width: 100%;

    .switch--small & {
      @include utilities.control--small;
    }

    .switch--checked & {
      background: blue;
    }

    .switch--focus & {
      @include utilities.outline($width: $switch-outline-width);
    }
  }

  &__thumb {
    background: white;
    border-radius: 50%;
    height: $switch-thumb-size;
    left: $switch-thumb-shift;
    position: absolute;
    top: $switch-thumb-shift;
    width: $switch-thumb-size;

    .switch--checked & {
      left: calc(100% - #{$switch-thumb-size} - #{$switch-thumb-shift});
    }
  }
}
