@use "sass:map";
@use 'functions';

$base-colors: (
  alabaster: #fafafa,
  mine-shaft: #222,
  governor-bay: #3948ca,
  persian-red: #d32d2d,
  mariner: #2d5fd3,
);

$color-variants: primary, error;

@function derive-rgb-values-from-hex($hex) {
  @return red($hex), green($hex), blue($hex);
}

@function get-base-color($name) {
  @return map.get($base-colors, $name);
}

@function get-color($names...) {
  $color: '--color';

  @each $name in $names {
    $color: $color + '-' + $name;
  }

  @return var(#{$color});
}

@function get-color-rgb($names...) {
  $color: '--color';

  @each $name in $names {
    $color: $color + '-' + $name;
  }

  @return var(#{$color + '-rgb'});
}

@mixin with-rbg-var($var, $hex) {
  --#{$var}: #{$hex};
  --#{$var}-rgb: #{derive-rgb-values-from-hex($hex)};
}
