@use "sass:map";
@use 'functions';

// TODO SOLVE RGB

$base-colors: (
  'alabaster': #fafafa,
  'governor-bay': #3948ca,
  'mariner': #2d5fd3,
  'mine-shaft': #222,
  'persian-red': #d32d2d,
  'silver': #c9c9c9,
);

$color-variants: 'primary', 'error';

$light-variant-colors: (
  'primary': (
    'base': map.get($base-colors, 'governor-bay'),
    'text': map.get($base-colors, 'alabaster'),
    'invert-text': map.get($base-colors, 'mine-shaft'),
    'outline': rgba(map.get($base-colors, 'governor-bay'), 0.3),
  ),
  'error': (
    'base': map.get($base-colors, 'persian-red'),
    'text': map.get($base-colors, 'alabaster'),
    'invert-text': map.get($base-colors, 'mine-shaft'),
    'outline': rgba(map.get($base-colors, 'persian-red'), 0.3),
  ),
);

$light-app-colors: (
  'background': map.get($base-colors, 'alabaster'),
  'focus': map.get($base-colors, 'mariner'),
  'outline': rgba(map.get($base-colors, 'mariner'), 0.3),
  'default': map.get($base-colors, 'silver'),
);

$light-colors: map.merge($light-app-colors, $light-variant-colors);

$dark-variant-colors: ();

$dark-app-colors: ();

$dark-colors: map.merge($dark-app-colors, $dark-variant-colors);

// TODO REMOVE
@function derive-rgb-values-from-hex($hex) {
  @return red($hex), green($hex), blue($hex);
}

@function get-color($names...) {
  $color: '--color';

  @each $name in $names {
    $color: $color + '-' + $name;
  }

  @return var(#{$color});
}

// TODO REMOVE
@function get-color-rgb($names...) {
  $color: '--color';

  @each $name in $names {
    $color: $color + '-' + $name;
  }

  @return var(#{$color + '-rgb'});
}

@mixin with-rbg-var($var, $hex) {
  --#{$var}: #{$hex};
  --#{$var}-rgb: #{derive-rgb-values-from-hex($hex)};
}

@mixin set-app-colors($parent, $parent-key: '') {
  @if $parent-key == '' or type-of($parent) == 'map' {
    @each $child-key, $child in $parent {
      @include set-app-colors($child, #{$parent-key}-#{$child-key});
    }
  } @else {
    --color#{$parent-key}: #{$parent};
  }
}
