@use "sass:map";
@use 'functions';

$base-colors: (
  alabaster: #fafafa,
  mine-shaft: #222,
  governor-bay: #3948ca,
  persian-red: #d32d2d,
  mariner: #2d5fd3,
);

$color-variants: primary, error;

@function get-base-color($name) {
  @return map.get($base-colors, $name);
}

@function get-color($names...) {
  $color: '--color';

  @each $name in $names {
    $color: $color + '-' + $name;
  }

  @return var(#{$color});
}
