// ==== Color ====

// Slightly lighten a color
@function tint($color, $percentage) {
  @return mix(#fff, $color, $percentage);
}

// Slightly darken a color
@function shade($color, $percentage) {
  @return mix(#000, $color, $percentage);
}

// ==== List ====

// Join multiple values together
@function join($separator: ' ', $values...) {
  $join: '';

  @each $value in $values {
    $join: $join + $separator + $value;
  }

  @return $join;
}
