@mixin light-theme {
  $root-selector: ':root';
  $class-selector: '.theme--light';

  @if & {
    #{$root-selector} &,
    #{$class-selector} & {
      @content;
    }
  } @else {
    #{$root-selector},
    #{$class-selector} {
      @content;
    }
  }
}

@mixin dark-theme {
  $root-selector: ':root[data-theme="dark"]';
  $class-selector: '.theme--dark';

  @if & {
    #{$root-selector} &,
    #{$class-selector} & {
      @content;
    }
  } @else {
    #{$root-selector},
    #{$class-selector} {
      @content;
    }
  }
}

@mixin outline($color: var(--color-outline)) {
  /* Visible in the full-colour space */
  box-shadow: 0 0 0 0.2rem $color;

  /* Visible in Windows high-contrast themes */
  outline: transparent solid 2px;
}

@mixin no-outline {
  box-shadow: none;
  outline: none;
}

@mixin unselectable {
  user-select: none;
}

@mixin disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@mixin not($list...) {
  // flatten list variable
  @if (length($list) == 1) {
    $list: nth($list, 1);
  }

  $not: '';

  @each $value in $list {
    $not: $not + ':not(#{$value})';
  }

  &#{$not} {
    @content;
  }
}
