@use 'variables';

@mixin font-family-text {
  font-family: 'Roboto', sans-serif;
}

@mixin font-family-heading {
  font-family: 'Raleway', sans-serif;
}

@mixin heading {
  @include font-family-heading;

  font-weight: bold;
  line-height: variables.$line-height-heading;
  margin-bottom: variables.$spacing-xs;
}

@mixin text {
  @include font-family-text;

  font-weight: normal;
  line-height: variables.$line-height-text;
}

@mixin regular-text {
  @include text;

  font-size: variables.$font-size-5;
}

@mixin h1 {
  @include heading;

  font-size: variables.$font-size-9;
}

@mixin h2 {
  @include heading;

  font-size: variables.$font-size-8;
}

@mixin h3 {
  @include heading;

  font-size: variables.$font-size-7;
}

@mixin h4 {
  @include heading;

  font-size: variables.$font-size-5;
}

@mixin h5 {
  @include heading;

  font-size: variables.$font-size-3;
}

@mixin h6 {
  @include heading;

  font-size: variables.$font-size-1;
}
