$font-size-1: 1rem;
$font-size-2: 1.2rem;
$font-size-3: 1.3rem;
$font-size-4: 1.4rem;
$font-size-5: 1.6rem;
$font-size-6: 1.8rem;
$font-size-7: 2rem;
$font-size-8: 2.4rem;
$font-size-9: 2.8rem;
$font-size-10: 3.2rem;
$font-size-11: 4.2rem;

$line-height-heading: 1.25;
$line-height-text: 1.5;

$spacing-xxxs: 0.2rem;
$spacing-xxs: 0.4rem;
$spacing-xs: 0.8rem;
$spacing-s: 1.2rem;
$spacing-m: 1.6rem;
$spacing-l: 2.4rem;
$spacing-xl: 2.8rem;
$spacing-xxl: 3.2rem;
$spacing-xxxl: 4.4rem;
$spacing-xxxxl: 4.8rem;

$z-index-dropdown: 1000;
$z-index-notification: 1100;

/* ==== Component specific ==== */

$notification-enter-duration: 400ms;
$notification-exit-duration: 200ms;
