@use "~styles/utilities";

$mobile-breakpoint: 34em;
$card-horizontal-margin: utilities.$spacing-s;

.title {
  --color-logged_out-title-background: #{utilities.get-color('primary-base')};
  --color-logged_out-title-text: #{utilities.get-color('primary-text')};

  @include utilities.dark-theme {
    --color-logged_out-title-background: #{utilities.get-color('primary-text')};
    --color-logged_out-title-text: #{utilities.get-color('primary-base')};
  }

  align-items: center;
  background-color: utilities.get-color('logged_out-title-background');
  color: utilities.get-color('logged_out-title-text');
  display: inline-flex;
  flex-basis: calc(100% / 3);
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: utilities.$spacing-l $card-horizontal-margin;
  text-align: center;

  @media (min-width: $mobile-breakpoint) {
    background-color: utilities.get-color('logged_out-card');
    color: utilities.get-color('primary-base');
    flex-basis: auto;
  }
}
