@use "~styles/utilities";
@use "LoggedOutShared.module" as shared;

.backdrop {
  background-color: utilities.get-color('background');
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (min-width: shared.$mobile-breakpoint) {
    background-color: utilities.get-color('primary-base');
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-content: center;

    &::before {
      // to center card and options
      content: '';
    }
  }
}

.card {
  background-color: utilities.get-color('background');
  height: 100%;

  @media (min-width: shared.$mobile-breakpoint) {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    height: auto;
    margin-bottom: utilities.$spacing-s;
  }
}

.options {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: utilities.$spacing-s shared.$card-horizontal-margin;

  @media (min-width: shared.$mobile-breakpoint) {
    padding: utilities.$spacing-s 0;
  }
}
