@use "~styles/utilities";

$mobile-breakpoint: 34em;
$card-horizontal-margin: utilities.$spacing-s;

.title {
  align-items: center;
  background-color: utilities.get-color('primary-base');
  color: utilities.get-color('primary-text');
  display: inline-flex;
  flex-basis: calc(100% / 3);
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: utilities.$spacing-l $card-horizontal-margin;
  text-align: center;

  @media (min-width: $mobile-breakpoint) {
    background-color: utilities.get-color('background');
    color: utilities.get-color('primary-base');
    flex-basis: auto;
  }
}
