@use '~styles/utilities';
@use 'sass:map';

.switch {
  @include utilities.light-theme {
    --color-switch-checked: #{map.get(utilities.$base-colors, 'mine-shaft')};
    --color-switch-thumb: #{map.get(utilities.$base-colors, 'alabaster')};
  }

  @include utilities.dark-theme {
    --color-switch-unchecked: #{map.get(utilities.$base-colors, 'alabaster')};
    --color-switch-thumb: #{map.get(utilities.$base-colors, 'mine-shaft')};
  }
}

.icon {
  color: map.get(utilities.$base-colors, 'web-orange');
  fill: map.get(utilities.$base-colors, 'web-orange');
  padding: 2px;
}
