@use '../utilities';

:root {
  --color-text: #{utilities.get-base-color(mine-shaft)};
  --color-background: #{utilities.get-base-color(alabaster)};

  // Primary
  --color-primary: #{utilities.get-base-color(governor-bay)};
  --color-primary-text: #{utilities.get-base-color(alabaster)};

  // Error
  --color-error: #{utilities.get-base-color(persian-red)};
  --color-error-text: #{utilities.get-base-color(alabaster)};

  // TODO PICK COLORS
  &[data-theme='dark'] {
    --color-text: #{utilities.get-base-color(alabaster)};
    --color-background: #{utilities.get-base-color(mine-shaft)};

    // Primary
    --color-primary: #{utilities.get-base-color(governor-bay)};
    --color-primary-text: #{utilities.get-base-color(mine-shaft)};

    // Error
    --color-error: #{utilities.get-base-color(persian-red)};
    --color-error-text: #{utilities.get-base-color(mine-shaft)};
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  // Changes browser font-size from 16px to 10px
  // 10px = 1rem

  font-size: 62.5%;
}

body {
  @include utilities.regular-text;

  background-color: var(--color-background);
  color: var(--color-text);
}

h1 {
  @include utilities.h1;
}

h2 {
  @include utilities.h2;
}

h3 {
  @include utilities.h3;
}

h4 {
  @include utilities.h4;
}

h5 {
  @include utilities.h5;
}

h6 {
  @include utilities.h6;
}
