@use '../utilities';

@include utilities.light-theme {
  @include utilities.set-app-colors(utilities.$light-colors);
}

@include utilities.dark-theme {
  @include utilities.set-app-colors(utilities.$dark-colors);
}
